{{define "title"}}Add New Style{{end}}

{{define "form"}}
<div class="row mt-3">
    <div class="col-4 mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" required/>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
{{end}}

{{define "navigation"}}
<div class="row">
    <div class="col-3 mt-3">
        <a href="/style">Go Back</a>
    </div>
</div>
{{end}}
