{{define "title"}}
List of Pizza Styles
{{end}}

{{define "content"}}
<div class="row mt-3">
    <div class="col-12">
        <table id="table_style" class="display table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $elem := .}}
                <tr>
                    <td>{{$elem.Name}}</td>
                    <td><a href="/style/update/{{$elem.ID}}">Edit</a></td>
                    <td><a href="#" name="delete_style" id="delete_style" data-style_name="{{$elem.Name}}" data-style_id="{{$elem.ID}}">Delete</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <a href="/style/create" class="btn btn-success">Add</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <a href="/">Home</a>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    $(function() {
        // make table into datatable
        $("table#table_style").DataTable();

        // find a#delete_style, handle click function to send POST request to delete URL
        $("a#delete_style").click(function() {
            let name = $(this).data("style_name");
            let id = $(this).data("style_id");
            let message = "Delete " + name + "?";
            if (confirm(message)) {
                let url = "/v1/style/delete/" + id;
                $.post(url, function(data, status) {
                    window.location.href = "/style";  // go back to list of styles
                });
            }
        });
    })
</script>
{{end}}
