{{define "title"}}
List of Pizza Sizes
{{end}}

{{define "content"}}
<div class="row mt-3">
    <div class="col-12">
        <table id="table_size" class="display table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {{range $elem := .}}
            <tr>
                <td>{{$elem.Name}}</td>
                <td><a href="/size/update/{{$elem.ID}}">Edit</a></td>
                <td><a href="#" name="delete_size" id="delete_size" data-size_name="{{$elem.Name}}" data-size_id="{{$elem.ID}}">Delete</a></td>
            </tr>
            {{end}}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <a href="/size/create" class="btn btn-success">Add</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <a href="/">Home</a>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    $(function() {
        $("#table_size").DataTable();

        // find a#delete_size, handle click function to send POST request to delete URL
        $("a#delete_size").click(function() {
            let name = $(this).data("size_name");
            let id = $(this).data("size_id");
            let message = "Delete " + name + "?";
            if (confirm(message)) {
                let url = "/v1/size/delete/" + id;
                $.post(url, function(data, status) {
                    window.location.href = "/size";  // go back to list of sizes
                });
            }
        });
    })
</script>
{{end}}
