{{define "title"}}Add New Pizza{{end}}

{{define "form"}}
<div class="row mt-3">
    <div class="col-4 mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" required/>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-3">
        <label for="style_id" class="form-label">Style</label>
        <select name="style_id" id="style_id" class="form-select">
            {{range $elem := .}}
            <option value="{{$elem.ID}}">{{$elem.Name}}</option>
            {{end}}
        </select>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
{{end}}

{{define "navigation"}}
<div class="row">
    <div class="col-3 mt-3">
        <a href="/pizza">Go Back</a>
    </div>
</div>
{{end}}
