{{define "title"}}
List of Pizzas
{{end}}

{{define "content"}}
<div class="row mt-3">
    <div class="col-12">
        <table class="table table-sm table-borderless">
            {{range $elem := .}}
            <tr>
                <td>{{$elem.Name}}</td>
                <td>{{$elem.Style.Name}}</td>
                <td><a href="/pizza/update/{{$elem.ID}}">Edit</a></td>
                <td><a href="#" name="delete_pizza" id="delete_pizza" data-pizza_name="{{$elem.Name}}" data-pizza_id="{{$elem.ID}}">Delete</a></td>
            </tr>
            {{end}}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <a href="/pizza/create" class="btn btn-success">Add</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <a href="/">Home</a>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    $(function() {
        // find a#delete_pizza, handle click function to send POST request to delete URL
        $("a#delete_pizza").click(function() {
            let name = $(this).data("pizza_name");
            let id = $(this).data("pizza_id");
            let message = "Delete " + name + "?";
            if (confirm(message)) {
                let url = "/v1/pizza/delete/" + id;
                $.post(url, function(data, status) {
                    window.location.href = "/pizza";  // go back to list of sizes
                });
            }
        });
    })
</script>
{{end}}
