{{define "title"}}Update {{.pizza.Name}}{{end}}

{{define "form"}}
<div class="row mt-3">
    <div class="col-4 mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" value={{.pizza.Name}} required/>
        <span id="pizza_style" data-style_id="{{.pizza.StyleID}}" class="invisible"></span>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-3">
        <label for="style_id" class="form-label">Style</label>
        <select name="style_id" id="style_id" class="form-select">
            {{range $elem := .styles}}
            <option value="{{$elem.ID}}">{{$elem.Name}}</option>
            {{end}}
        </select>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
{{end}}

{{define "navigation"}}
<div class="row">
    <div class="col-3 mt-3">
        <a href="/pizza">Go Back</a>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    $(function() {
        // on load, assign the select value with the StyleID from pizza
        let style_id = $("span#pizza_style").data("style_id");
        $("select#style_id").val(style_id).change();
    });
</script>
{{end}}
